[Unit]
Description=Barnyard2 Daemon
After=syslog.target network.target
 
[Service]
Type=simple
ExecStart=/usr/sbin/barnyard2 -c /etc/snort/barnyard2.conf -d {{ barnyard2.log_dir }} -f snort.u2 -q -w {{ barnyard2.waldo_file }} -g snort -u snort -D -a {{ barnyard2.archive_dir }}
Restart=always
 
[Install]
WantedBy=multi-user.target
