# List of local networks in CIDR notation, optionally followed by a
# descriptive tag.
# For example, "10.0.0.0/8" or "fe80::/64" are valid prefixes.
# Networks are defined by the nsm_home_net variable (see vars/localhost.yml).

{% for net in nsm_home_net %}
{{ net }}          Private IP space
{% endfor %}
